# top level gitignore

# macOs related
.DS_Store

# vim
*.swp

# qcow2 drivers
*.qcow2

# configurations
*.conf

# logs
*.log

# build folders
build/

#header softlink
src/hw/pciemu/pciemu_hw.h

#installation folder
__install_qemu_pciemu/
