[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/jic23/qemu.git
	branch = cxl-2024-11-27
[submodule "include/unitctest"]
	path = include/unitctest
	url = https://github.com/luizinhosuraty/unitctest.git
	branch = release
[submodule "include/fff"]
	path = include/fff
	url = https://github.com/luizinhosuraty/fff.git
	branch = release
